

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
}
body   {
  width: 100%;
  background: url(../img/imgMans/mansty.png) top center;
  background-size: cover;
  background-attachment: fixed; 

}
@media (min-width: 1024px) {
  body {
    background-attachment: fixed; 
  }
}
@media (max-width: 992px) {
  body {
    width: 100%;
    background: url(../img/imgMans/manstyMob.png) top center;
    background-size: cover;
    background-attachment: fixed; 
  }
}

a {
  color: #bb8f2c;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #bb8f2c;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #ffffff;
}

.main-page {
  margin-top: 70px;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 1024;
  background: #bb8f2c;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #bb8f2c;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*---------animation----------------*/

.a-one {
  width: 100px;
  height: 100px;
  background-color: #56657a;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 560px;
  animation: MoveUpDown 5s linear infinite;
}

.a-two {
  width: 150px;
  height: 150px;
  background-color: #56657a;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 200px;
  animation: MoveUpDownTwo 9s linear infinite;
}

.a-three {
  width: 120px;
  height: 120px;
  background-color: #56657a;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  bottom: 120px;
  left: 160px;
  animation: MoveUpDownThree 5s linear infinite;
}

.a-four {
  width: 80px;
  height: 80px;
  background-color: #56657a;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 220px;
  animation: MoveUpDownFour 15s linear infinite;
}

.a-five {
  width: 50px;
  height: 50px;
  background-color: #56657a;
  opacity: 0.9;
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
  right: 0;
  animation: MoveUpDownFive 8s linear infinite;
}

.a-six {
  width: 175px;
  height: 175px;
  background-color: #56657a;
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  bottom: 250px;
  right: 360px;
  animation: MoveUpDownSix 7s linear infinite;
}

.a-seven {
  width: 250px;
  height: 250px;
  background-color: #56657a9e;
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 280px;
  right: 0;
  animation: MoveUpDownSeven 6s linear infinite;
}

.a-eight {
  width: 75px;
  height: 75px;
  background-color: #56657a;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  bottom: 70px;
  left: 710px;
  animation: MoveUpDownEight 11s linear infinite;
}

.a-nine {
  width: 45px;
  height: 45px;
  background-color: #56657a;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 155px;
  animation: MoveUpDownNine 12s linear infinite;
}

.a-ten {
  width: 150px;
  height: 150px;
  background-color: #56657a;
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: MoveUpDownTen 14s linear infinite;
}
@media (max-width: 992px) {
  .a-eight {
    left: 246px;
  }
  .a-one {
    left: 150px;
  }
  .a-four {
    right: 0;
  }
  .a-seven {
    left: 80px;
  }
  .a-six {
    right: 200px;
  }
}
@keyframes a-one {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 300px;
  }
}

@keyframes MoveUpDownTwo {
  0%, 100% {
    left: 0;
  }
  50% {
    bottom: 500px;
  }
}

@keyframes MoveUpDownThree {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 400px;
  }
}

@keyframes MoveUpDownFour {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 350px;
  }
}

@keyframes MoveUpDownFive {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 250px;
  }
}

@keyframes MoveUpDownSix {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 500px;
  }
}

@keyframes MoveUpDownSeven {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 375px;
  }
}

@keyframes MoveUpDownEight {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 370px;
  }
}

@keyframes MoveUpDownNine {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 475px;
  }
}

@keyframes MoveUpDownTen {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 500px;
  }
}


/*--------------------------------------------------------------
# social-sidebar
--------------------------------------------------------------*/
#social-sidebar {
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 5rem;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #social-sidebar {
    /* width: 300px; */
    /* background: #fff; */
    border-right: 1px solid #e6e9ec;
    /* left: -300px; */
  }
}
#social-sidebar  .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#social-sidebar  .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

#social-sidebar .nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

#social-sidebar  .nav-menu a i {
  font-size: 20px;
}

#social-sidebar .nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  #social-sidebar  .nav-menu a {
    width: 56px;
  }
  #social-sidebar .nav-menu a span {
    display: none;
    color: #fff;
  }
}

#social-sidebar  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}


#social-sidebar  .nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}


/* Mobile Navigation social-sidebar */
#social-sidebar  .mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

#social-sidebar  .mobile-nav-toggle i {
  color: #45505b;
}

#social-sidebar  .mobile-nav-active {
  overflow: hidden;
}

#social-sidebar  .mobile-nav-active #header {
  left: 0;
}

#social-sidebar  .mobile-nav-active .mobile-nav-toggle i {
  color: #0563bb;
}

/*---------end -------------*/

/*-------------------*/

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
}
.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #bb8f2c;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}
#services .img-services-logo{
  height: 10rem;
  display: flex;
  margin: auto;
}
.section-h4{
  text-align: end;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255 255 255);
  margin: 0 5rem;
}
.section-p{
  text-align: end;
  font-size: 1.3rem;
  color: #d1d1d1;
  margin: 0 5rem;
}
.section-with-bg {
  background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
#header.header-scrolled, #header.header-inner {
  background: rgb(23 59 109 / 73%);
  height: 70px;
}
#header #logo h1 {
  font-size: 36px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header #logo h1 span {
  color: #bb8f2c;
}
#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}
#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 12em;
  width: 100%;
  height: 100%;

}
@media (max-width: 992px) {
  #header #logo img {
    max-height: unset;
    width: 100px;
    height: 100px;
  }
}

/*--------------------------------------------------------------
# Buy Tickets
--------------------------------------------------------------*/
.buy-tickets {
  color: #fff;
  background: #bb8f2c;
  padding: 7px 22px;
  margin: 0 0 0 15px;
  border-radius: 50px;
  border: 2px solid #bb8f2c;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  line-height: 1;
  font-size: 13px;
  white-space: nowrap;
}
.buy-tickets:hover {
  background: none;
  color: #fff;
}
.buy-tickets:focus {
  color: #fff;
}
@media (max-width: 992px) {
  .buy-tickets {
    margin: 0 15px 0 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 12px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 6px 4px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #bb8f2c;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #060c22;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #bb8f2c;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #060c22;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #bb8f2c;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #bb8f2c;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#canvas1 {
    /* position: absolute; */
    /* background: rgba(6, 12, 34, 0.6); */
    /* background: rgb(8 56 87); */
    width: 100%;
    /* margin: 5rem 0 0 2rem; */
    height: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; 
  }
}

#hero:before {
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
@media (max-width: 991px) {
  #hero .hero-container {
    top: 70px;
  }
}
#hero h1 {
  color: #fff;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Raleway", system-ui;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}
#hero h1 span {
  color: #bb8f2c;
}
@media (max-width: 991px) {
  #hero h1 {
    font-size: 34px;
  }
}
#hero p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 991px) {
  #hero p {
    font-size: 16px;
  }
}
#hero .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#bb8f2c 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}
#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#hero .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
#hero .play-btn:hover::after {
  border-left: 15px solid #bb8f2c;
  transform: scale(20);
}
#hero .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
#hero .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #bb8f2c;
}
#hero .about-btn:hover {
  background: #bb8f2c;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#about:before {
  content: "";
  background: rgba(13, 20, 41, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
#about h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}
#about p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #b0b2b4;
}

/*--------------------------------------------------------------
# services Section
--------------------------------------------------------------*/
#services {
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 1rem;
}
#services::before{
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#services .card{
  height: 15rem;
  border: unset !important;
}

#services  .card-body {
    padding: 3rem 1rem;
}
#services .card img{
  display: flex;
  margin: auto;
  box-shadow: 0 0 70px 0px #18345d70;
  border: 5px solid #bb8f2c;
  border-radius: 50%;
  padding: 2px;
}
#services .card img:hover{
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(-1turn);
	}
}
#services .speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
#services .speaker .details {
  background: rgb(24 52 93);
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
#services .speaker .details h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
#services .speaker .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}
#services .speaker .details .social {
  height: 40px;
}
#services .speaker .details .social i {
  line-height: 0;
  margin: 0 2px;
}
#services .speaker .details a {
  color: #fff;
}
#services .speaker .details a:hover {
  color: #bb8f2c;
}
#services .speaker:hover .details {
  bottom: 0;
}
#services .btn-outline-services {
  color: #ffffff;
  border-color: #bb8f2c;
  border-radius: 15px;
}
#services .btn-outline-services:hover {
  color: #112363;
  background-color: #bb8f2c;
  border-color: #795910;
}
#services .mr-3{
  margin-right: 3rem !important;
}
#services-details {
  padding: 60px 0;
}
#services-details .details h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
#services-details .details .social {
  margin-bottom: 15px;
}
#services-details .details .social a {
  background: #e9edfb;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#services-details .details .social a:hover {
  background: #bb8f2c;
  color: #fff;
}
#services-details .details .social a i {
  font-size: 16px;
  line-height: 0;
}
#services-details .details p {
  color: #112363;
  font-size: 15px;
  margin-bottom: 10px;
}
.modal-title {
  margin: auto !important;
  color: #030e1b;
  display: flex !important;
}

.modal-footer {
    justify-content: center;
}
.btn-modal{
  width: 100px;
  color: #ffffff;
  background-color: #bb8f2c;
  border-color: #bb8f2c;
}
.btn-modal:hover {
  color: #ffffff;
  background-color: #112363;
  border-color: #112363;
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  overflow: hidden;
  position: relative;
  /* background:rgb(5 27 53); */
  padding: 60px 0;
  /* color: #eee; */
  font-size: 14px;
}
#contact::before{
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* #contact {
  padding: 60px 0;
} */
#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}
#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #bb8f2c;
}
#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #112363;
}
#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}
#contact .contact-info a {
  color: #4869df;
}
#contact .contact-info a:hover {
  color: #bb8f2c;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}
@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
  border-color: #bb8f2c;
}
#contact .php-email-form input {
  padding: 10px 15px;
}
#contact .php-email-form textarea {
  padding: 12px 15px;
}
#contact .php-email-form button[type=submit] {
  background: #bb8f2c;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
#contact .php-email-form button[type=submit]:hover {
  background: #e0072f;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  overflow: hidden;
  position: relative;
  padding: 0 0 25px 0;
  color: #fff;
  font-size: 14px;
}
#footer::before{
  content: "";
  background: rgba(13, 20, 41, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#footer .footer-top {
  /* background: rgb(5 27 53); */
  padding: 0px 0;
  position: relative;
    border-bottom: 2px solid #bb8f2c;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}
#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  display: inline-block;
  background: #bb8f2c;
  color: white;
  position: relative;
  line-height: 1;
  margin-right: 4px;
  /* border-radius: 50%; */
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
#footer .footer-top .social-links a:hover {
  background: #2226368a;
  color: #fff;
}
#footer .footer-top .header-foot{
  display: flex;
  justify-content: end;
}
#footer .footer-top .header-foot i.head-icon{
  position: relative;
  padding: 0 2rem;
  font-size: 4rem;
  color: #d8a126;
}
#footer .footer-top .header-foot i {
  padding: 1px 10px;
    font-size: 20px;
}
#footer .footer-top .header-foot i:hover{
  color: #ffffff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #d8a126;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0;
  line-height: 2;
  text-align: center;
  /* border-bottom: 2px solid #bb8f2c; */
}
#footer .footer-top h4 span{
  font-size: 2rem;
}
#footer .footer-top h4 span:hover{
color: #ffffff;
}
#footer .footer-top h4 p{
  text-align: end;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: none;
  margin: 0;
}
#footer .footer-top strong {
  color: #fff;
  position: relative;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links .input-group-text {
  padding: 0.5rem 0.75rem;
  background-color: #ffffff;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #bb8f2c;
  font-size: 18px;
  position: relative;
  font-weight: bold;
}
#footer .footer-top .footer-links ul li {
  /* border-bottom: 1px solid #bb8f2c; */
  /* text-align: center; */
  position: relative;
  padding: 0.5rem 7rem 0.5rem 0;
  margin: unset !important;
  text-align: end;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  position: relative;
  font-weight: bold;
  font-size: 1rem;  
}
#footer .footer-top .footer-links ul a:hover {
  color: #bb8f2c;
  position: relative;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
  text-align: right;
  color: rgb(197, 196, 196);
  position: relative;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type=email] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type=submit] {
  background: #bb8f2c;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type=submit]:hover {
  background: #e0072f;
}
#footer .copyright {
  text-align: center;
  padding-top: 5px;
  position: relative;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #fff;
  position: relative;
}
@media (max-width: 992px) {
  #footer {
   text-align: center;
  }
  #footer .footer-top .footer-contact p {
    text-align: center;
  }
  #footer .footer-top .social-links{
    text-align: center !important;
  }
  #footer .footer-top .footer-links ul li {
    text-align: center !important;
    padding: unset !important;
  }
}

/* .owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.slider {
  width: 100%;
  max-width: 1000px;
  margin: 24px auto;
  overflow: hidden;
}
.slider.slider--last .slider__arrow-next, .slider.slider--first .slider__arrow-prev {
  display: none;
}

.slider__wrapper {
  position: relative;
}

.slider__inner {
  display: flex;
  overflow-x: scroll;
  flex-flow: row nowrap;
  margin-bottom: 24px;
  gap: 24px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slider__inner::-webkit-scrollbar {
  height: 12px;
}
.slider__inner::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: lightgrey;
}
.slider__inner::-webkit-scrollbar-track {
  background-color: transparent;
}

.slider__slide {
  flex: 1 0 80%;
  max-width: 80%;
  scroll-snap-align: center;
}
@media (min-width: 980px) {
  .slider__slide {
    flex-basis: 26%;
    max-width: 26%;
  }
}

.slide__content {
  position: relative;
  overflow: hidden;
  background-color: #f2f3f5;
  background: linear-gradient(#bb8f2cad ,#bb8f2c);
  /* background: linear-gradient(#123663, #35526e); */
  box-shadow: 0 0 70px 0px #18345d70;
  border-radius: 10px;
}
.slide__content:before {
  content: "";
  display: block;
  padding-top: 56%;
  
}
.slide__content span{
  top: 0;
  position: absolute;
  color: #ffffff;
  margin: 1rem 0 0 6rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.5rem;
}
.slider__image {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 52%;
}

.slider__dots {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 12px;
}
@media (min-width: 980px) {
  .slider__dots {
    display: none;
  }
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transform: translateY(-50%);
}

.slider__arrow-prev {
  left: 0;
}

.slider__arrow-next {
  right: 0;
}

.slider .btn-slider-left{
  color: #ffffff;
  border-color: #bb8f2c;
  background-color: #bb8f2c;
  border-radius: 0 15px 15px 0;
  border: unset;
  font-size: 2rem;
  padding: 0 0 3rem 0;
}
.slider .btn-slider-right {
  color: #ffffff;
  border-color: #bb8f2c;
  background-color: #bb8f2c;
  border-radius: 15px 0 0 15px;
  border: unset;
  font-size: 2rem;
  padding: 0 0 3rem 0;
}
.slider .btn-slider:hover {
  color: #112363;
  background-color: #bb8f2c;
  border-color: #795910;
}


/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
#gallery {
  padding: 60px;
  overflow: hidden;
}
#gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
#gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgb(187 143 44);
}
#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(187 143 44);
}
#gallery .swiper-slide-active {
  text-align: center;
}
#gallery .swiper-slide {
  border: 0.2rem dashed #e4ca9a;
}
#gallery .swiper-slide .swiper-slide-head{
  width: 100%;
  height: 60px;
  padding: 0.5rem;
  background-color: #bb8f2c;
  text-align: center;
  border-bottom: 2px dashed;
  font-size: 1rem;
  font-weight: 900;
}
#gallery .swiper-slide img{
  height: 8em;
  display: flex;
  margin: auto;
}
#gallery .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid rgb(187 143 44) !important;
}
#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(187 143 44) !important;
}
#gallery .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid rgb(187 143 44);
}
@media (min-width: 992px) {
  #gallery .swiper-wrapper {
    padding: 40px 0;
  }
  #gallery .swiper-slide-active {
    border: 5px solid rgb(187 143 44);
    padding: 4px;
    background: rgb(187 143 44);
    z-index: 1;
    transform: scale(1.15);
    margin-top: 6px;
  }
}
